body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
.long{
    width: 40%;
    height: 1700px;
    background-color: #f8f8f8;;
    position: absolute;
    z-index: -3;
}
@media (max-width:1000px){
    .long{
        display: none;
    }
}

header{
    width: 100%;
}
img{
    z-index: 3;
    margin-top: 25px;
    margin-left: 20px;
}
nav{
    box-shadow: 0.1px 0.1px 20px rgb(26, 26, 26);
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;
    height: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav ul{
    float: right;
    list-style: none;
    margin-left: -30px;
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color:black;
    font-size: 19px;
    text-transform: capitalize;
    padding: 5px 15px;
    font-weight: bolder;
}

nav ul li a:hover{
    color:darkorange;
    transition: 0.3s;
}
.dropdownmenu{
    display: none;
    border-radius: 20px;
}

nav ul li:hover .dropdownmenu{
    display: block;
    position: absolute;
    background-color: white;
}
.dropdownmenu ul{
    display: block;
    width: 250px;
}
.dropdownmenu ul li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-transform: capitalize;
    margin-left: -10px;
}
.dropdownmenu ul li:hover{
    background-color: darkorange;
    width: 260px;
}
.dropdownmenu ul li a{
    top: -10px;
    color: black;
}
.dropdownmenu ul li a:hover{
    color: white;
    margin-left: 10px;
}

#checkbtn{
    float: right;
    line-height: 110px;
    font-size: 30px;
    display: none;
    margin-right: 10px;
   
}
#check{
    display: none;
}
#check:checked ~ ul{
    right: 0;
}
@media(max-width:1180px){
   
   #checkbtn{
    display: block;
   margin-right: 10px;
   color: rgb(223, 223, 19);
    z-index: 2;
   }
   nav ul{
    float: right;
    width: 80%;
    height: 100vh;
    background-color: darkblue;
    position: fixed;
    right: 0;
    right: -100%;
    transition: .5s;
    top: 60px;
    
   }
   nav ul li{
    display: block;
    line-height: 50px;
    margin-top: 20px;
   }
}
    
.container{
    margin-top: 10px;
    width: 100%;
    background-color: black;
    height: 300px;
    display: flex;
    background:linear-gradient( 45deg,black,darkblue);
}
.container_heading{
    
    margin-top: 100px;
    margin-left: 30px;
   
    color: white;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

.conitem{
    margin-right: 32px;
    display: flex;
    margin-top: -70px;
    float: right;
    height: 100px;
    width: 250px;
    background-color: white;
}
.conitem1{
    text-transform: capitalize;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-right: solid black 2px;
    padding-right: 10px;
    height: fit-content;
}
.conitem1 a{
    text-decoration: none;
    color: black;
}
.conitem2{
    margin-left: 10px;
    text-transform: capitalize;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: orange;
}
@media(max-width:1180px){
    .container{
        width: 100%;
    }
  }

.container1{
    margin-top: 100px;
    width: 100%;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
}
.leftbox{
    width: 570px;
    height: auto;
    display: flex;
}
.sideimage{
    margin-top: 20px;
    z-index: -1;
    height: 300px;
    width: 500px;
    background-image:url(sideimage.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media(max-width:1000px){
    .leftbox{
        width: 90%;
    }
    .sideimage{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
.frame{
    position: absolute;
    z-index: -2;
    margin-left:200px;
    width: 310px;
    height: 360px;
    border: solid 6px navy;
}
@media(max-width:550px){
    .frame{
        display: none;
    }
}
.emni{
    width: 500px;
    height: 1400px;
    background-color: darkcyan;
}
.rightbox{
    width: 500px;
    height: auto;
    padding-left: 20px;
}
.rightbox h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-weight: bold;
}
.rightbox h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
.rightbox p{
    margin-left: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 22px;
    padding-right: 40px;
}
.rightbox ul{
    margin-top: -15px;
    margin-left: -20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 22px;
    padding-right: 30px;
}

.subcon{
    width: 400px;
    height: 500px;
}
@media(max-width:400px){
    .subcon{
        width: 300px4;
    }
}
.subcon1,.subcon2{
    display: flex;
}
.icon1,.icon2{
    background-color: white;
    margin-top: 80px;
    box-shadow: 5px 5px 40px rgb(217, 216, 216);
}
.icon1{
    border-radius: 50%;
    height: 70px;
    margin-right: 30px;
    width:70px;
    margin-left: 20px;
  
}
#icon1{
     margin-left: 4px;
     margin-right: 4px;
     margin-top: 10px;
}
.icon2{
    border-radius: 50%;
    height: 70px;
    margin-right: 30px;
    width:80px;
    margin-left: 20px;
    justify-content: center;
}
#icon2{
    margin-top: 2px;
    margin-left: 9px;
    margin-right: 9px;
}
.text1 h1 a{
    text-decoration: none;
    color: black;
    font-size: 23px;
    text-transform: capitalize;
}
.text2 h1 a{
    text-decoration: none;
    color: black;
    font-size: 23px;
    text-transform: capitalize;
}
.heading2{ 
    margin-top: 160px;
    margin-left: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-transform: capitalize;
}
.pic1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.pic{
    border-radius: 20px;
    margin: 20px;
    height: 400px;
    width: 350px;
    text-align: center;
    font-size: 400px;
}







  
.container4{
    min-height: 500px;
    width: 100%;
    background-color: rgb(34, 33, 33);
    margin-top: 200px;
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}


.foot1{
    width: 310px;
    margin: 10px;
}
.f1{
    margin-top: 80px;
    margin-left: 10px;
}

.f2{
    margin-top: 35px;
}
p{
    margin-top: -20px;
    margin-left: 50px;
}
#ic{
    margin-left: 30px;
}
.f3{
    margin-top: 25px;
    margin-left: 20px;
}
#ic2{
    margin-left: 10px;
    font-size: 30px;
}

.foot2{
    margin: 10px;
    width: 400px;
}
.f4{
    margin-top: 110px;
    font-family: Arial, Helvetica, sans-serif;
}
.f5{
    margin-top: 50px;
}
.f9{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    list-style:square;
    margin-left: -30px;
    width: 180px;
    height: 50px;
    list-style: none;
}
@media screen and (max-width: 1000px){
    .f4, .f5{
        margin-left: 30px;
    }
}

.foot3{
    width: 480px;
    margin: 10px;
}
.f6{
    margin-top: 110px;
}
.f7{
    margin-top: 40px;
}
#foot{
    display: flex;
    flex-wrap: wrap;
}
.f10{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    list-style:none;
    margin-left: -30px;
    line-height: 45px;
    width: 200px;
    margin-right: 20px;
    color: white;
}
.f11{
    color: white;
    text-decoration: none;
}
.f11:hover{
    transition: .3s;
    color: darkorange;
    margin-left: 10px;
}
@media screen and (max-width: 1000px){
    .f6, .f7{
        margin-left: 30px;
    }
}
@media (max-width:470px)
{
   .foot1,.foot2,.foot3{
    width: 100%;
   }
}